/* APLICADO PARA TUDO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppinsregular', sans-serif;
}

/* APLICADO PARA O HTML */
html {
    scroll-behavior: smooth;
}

/* APLICADO PARA O BODY */
body {
    background: linear-gradient(black, #1E293B);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 20vw;
    padding-top: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px .3vw 0px .3vw;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 1.4vw;
    letter-spacing: 1px;
}

/* RESPONSIVIDADE DA NAVBAR */
@media (max-width: 768px) {
    .navbar a {
        margin-left: 0vw;
        margin-right: 0vw;
        padding-left: 1vw;
        padding-right: 1vw;
        letter-spacing: 0px;
    }   
}

.navbar a:hover, .navbar a#active {
    background: #c8da5b;
    color: black;
}

/* RETRATO E "CREATIVE DEVELOPER" */
.paralax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 41%;
    height: 0;
}

/* TODAS AS CAMADAS DA SEÇÃO DA PARALAX*/
.paralax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.paralax #t1 {
    position: absolute;
    margin-left: 50vw;
    top: 32%;
    left: 0%;
    color: white;
    font-size: 7vw;
    font-family: 'poppinssemibold';
}

.paralax #t2 {
    position: absolute;
    margin-left: 50vw;
    top: 45%;
    left: 0%;
    color: #c8da5b;
    font-size: 5.14vw;
    letter-spacing: 0.83vw;
    text-shadow: 0px 0px 10px black;
    font-family: 'poppinssemibold';
}

.paralax #tech {
    position: absolute;
    top: 59%;
    left: 0%;
    margin-left: 67.5vw;
    width: 16%;
}

/* BARRA DAS REDES SOCIAIS*/
.barra-div-green {
    position: relative;
    display: block;
    background-color: #c8da5b;
    width: 100%;
    height: 0;
    max-height: 50px;
    padding-top: 4%;
    box-shadow: 0px 0px 30px black;
}

.barra-div-blue {
    position: relative;
    background-color: rgb(91, 123, 177);
    width: 100%;
    height: 0;
    max-height: 20px;
    padding-top: 2%;
}

/* BOTÕES DAS REDES SOCIAIS */
#insta {
    position: absolute;
    border-radius: 52px;
    width: 6%;
    z-index: 1;
    top: -25%;
    left: 85%;
}

#linkedin {
    position: absolute;
    border-radius: 52px;
    width: 6%;
    z-index: 1;
    top: -25%;
    left: 78%;

}

#linkedin:hover {
    box-shadow: 0px 0px 30px white;
    transition: 0.4s;
}

#insta:hover {
    box-shadow: 0px 0px 30px white;
    transition: 0.4s;
}

/* HELLO, WORLD! MY NAME IS ANDERSON DINIZ */
#titulo-main {
    font-size: 4vw;
    font-family: 'poppinssemibold';
    text-align: center;
    padding-top: 7vw;
    padding-bottom: 6vw;
    text-shadow: 0px 0px 20px rgba(245, 245, 245, 0.353);
}

/* RESPONSIVIDADE DO TITULO */
@media (max-width: 990px) {
    #titulo-main {
        font-size: 3vw;
    }
}

@media (max-width: 570px) {
    #titulo-main {
        font-size: 3vw;
    }
}

/* ANIMAÇAO DO CONTEUDO */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#highlight-text {
    color: #c8da5b;
    font-family: 'poppinssemibold';
    text-decoration: underline;
}

/* CONTEUDO */
.main {
    position: relative;
    margin: auto;   
    background: black;
    color: white;
    width: 100%;
}

.content1 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    background-color: rgb(26, 26, 26);
    padding: 4%;
    border-radius: 20px;
}

.content2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    background-color: rgb(26, 26, 26);
    padding: 4%;
    border-radius: 20px;
}

h3 {
    margin-bottom: 4%;
}

/* ABOUT ME */
#aboutme-txt {
    max-width: 700px;
    font-size: 1.7vw;
    width: 50%;
    text-indent: 10%;
    text-align: justify;
    margin-right: 6%;
}

#aboutme-img {
    height: fit-content;
    max-width: 400px;
    width: 50%;
}

#me-leroy {
    width: 100%;
    box-shadow: 0px 0px 30px black;
}

.space {
    height: 15vw;
}

#myqualifications-txt {
    max-width: 900px;
    font-size: 1.7vw;
    text-indent: 10%;
    text-align: justify;
}

#qualification-logos img {
    padding-top: 3vw;
    width: 11vw;
}

#aboutme-finalline {
    text-align: center;
    padding-top: 5vw;
    font-size: 1.7vw;
    padding-bottom: 20vw;
}


/* CONFIGURAÇÃO CSS DA PAGINA DE CONTATO */

.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.email-icon img {
    width: 60%;
}

.form-contact {
    border-radius: 20px;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 80vw;
    max-width: 700px;
    box-shadow: rgb(0, 0, 0) 0px 30px 60px 12px inset;
    font-size: 2vw;
    color: white;
    text-align: center;
}

.form-contact h2 {
    font-size: 4vw;
    font-family: 'poppinssemibold';
    text-align: center;
    padding-top: 2vw;
}



form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

form label {
    margin-top: 1vw;
}

form input, textarea {
    padding: 1vw;
    outline: none;
    border: 0;
    border-radius: 0.8vw;
    transition: all 0.5s;
}

form input:focus {
    box-shadow: 0px 0px 20px white;
}

form textarea:focus {
    box-shadow: 0px 0px 20px white;
}

#submitmessage {
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 2vw;
    cursor: pointer;
    font-size: 3vw;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.8vw;
    color: white;
    transition: all 1s;
}

#submitmessage:hover {
    background: #c8da5b;
    color: #1E293B;
    box-shadow: 0px 0px 20px white;
    border: none;
}

@media (min-width: 850px) {
    .form-contact h2 {
        font-size: 2.7vw;
    }

    .form-contact {
        font-size: 20px;
    }

    #submitmessage {
        padding: 20px;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .contact-page {
        border: solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }

    .form-contact {
        padding: 6vw;
    }
    

    .email-icon img {
        border: solid red;
        width: 50%;
        margin-left: 25%;
        margin-top: 4vw;
    }
}


#aboutme-finalline2 {
    text-align: center;
    padding-top: 5vw;
    font-size: 2vw;
    padding-bottom: 5vw;
    margin: auto;
}

#aboutme-finalline2 img {
    width: 50%;
}
