* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppinsregular', sans-serif;
}

body {
    background: linear-gradient(black, #1E293B);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 20vw;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px .3vw 0px .3vw;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 1.4vw;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .navbar a {
        margin-left: 0vw;
        margin-right: 0vw;
        padding-left: 1vw;
        padding-right: 1vw;
        letter-spacing: 0px;
    }   
}

.navbar a:hover, .navbar a#active {
    background: #c8da5b;
    color: black;
}

.paralax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 41%;
    height: 0;
}

.paralax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.paralax #t1 {
    position: absolute;
    margin-left: 50vw;
    top: 32%;
    left: 0%;
    color: white;
    font-size: 7vw;
    font-family: 'poppinssemibold';
}

.paralax #t2 {
    position: absolute;
    margin-left: 50vw;
    top: 45%;
    left: 0%;
    color: #c8da5b;
    font-size: 5.14vw;
    letter-spacing: 0.83vw;
    text-shadow: 0px 0px 10px black;
    font-family: 'poppinssemibold';
}



.main {
    position: relative;
    padding: 50px;
    background: black;
    color: white;
}

.barra-div-green {
    position: relative;
    display: block;
    background-color: #c8da5b;
    width: 100%;
    height: 0;
    max-height: 50px;
    padding-top: 4%;
    box-shadow: 0px 0px 30px black;
}

.barra-div-blue {
    position: relative;
    background-color: rgb(91, 123, 177);
    width: 100%;
    height: 0;
    max-height: 20px;
    padding-top: 2%;
}

#insta {
    position: absolute;
    border-radius: 46px;
    width: 6%;
    z-index: 1;
    top: -25%;
    left: 85%;
    border: solid 3px #c8da5b;
}

#linkedin {
    position: absolute;
    border-radius: 46px;
    width: 6%;
    z-index: 1;
    top: -25%;
    left: 78%;
    border: solid 3px #c8da5b;
}

#linkedin:hover {
    box-shadow: 0px 0px 30px white;
    transition: 0.4s;
}

#insta:hover {
    box-shadow: 0px 0px 30px white;
    transition: 0.4s;
}

#titulo-main {
    font-size: 6vw;
    font-family: 'poppinssemibold';
    text-align: center;
    letter-spacing: 10px;
    padding-top: 50px;
    text-shadow: 0px 0px 20px rgba(245, 245, 245, 0.353);
}

@media (max-width: 990px) {
    #titulo-main {
        font-size: 4vw;
        padding-top: 0;
    }
}

@media (max-width: 570px) {
    #titulo-main {
        font-size: 3vw;
    }
}

#easier {
    color: #c8da5b;
    font-family: 'poppinssemibold';
    text-decoration: underline;
}

.content {
    display: flex;
    margin: auto;
}

#col1,#col2 {
    background-color: rgb(26, 26, 26);
    height: 300px;
    max-width: 800px;
    width: 1000px;

}

